*{
    margin: 0%;
    padding: 0%;
}

@font-face { font-family: MojFont; src: url('MojFont.ttf'); } 

header{
    background: rgb(87, 77, 77);
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 40px;
}

header h1{
    color: #fff;
    padding: 0%;
    display: inline-block;
    align-items: center;
    font-family: MojFont;

}

h2{
    color: #fff;
    padding: 0%;
    display: inline-block;
    align-items: center;

}

body{
    background: url(pozadina.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
    text-align: center;
    font-size: 40px;
    margin-top: 7%;
    margin-left: 20%;
    margin-right: 20%;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0px;
}

nav li{
    display: inline-block;
    align-items: center;
}

nav li a{
    background: rgb(87, 77, 77);
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 30px;
}
nav li a:hover{
    background: #fff;
    color: #333;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(223, 220, 220);
    color: black;
    text-align: center;
  }